.playlists {
    display: flex;
    gap: 20px;
  }
  
  .playlist-card {
    width: 150px;
    background-color: #282828;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #b3b3b3;
  }
  
  .playlist-card:hover {
    background-color: #333333;
    color: #ffffff;
  }
  